<div class="flex flex-col gap-4">
  @let chipsClass = 'flex items-center gap-2 rounded-full border border-gray-800 bg-black px-3 py-1 text-xs ';

  <div class="flex gap-4 justify-between relative">
    <div class="flex gap-2 items-start">
      <mat-icon svgIcon="retriever" class="w-10! text-(--rt-accent)!" inline />
      <h1 class="text-2xl font-rubik tracking-tight">Retriever</h1>
    </div>

    <div class="flex flex-col items-end gap-4">
      <div class="flex gap-2 items-center">
        <div [class]="chipsClass">
          <span class="select-none text-xs! text-(--rt-accent)!">>_</span>
          <span class="hidden lg:inline">dlp:</span>
          <span>{{ ytdlpVersion() }}</span>
        </div>

        <div [class]="chipsClass">
          <mat-icon class="h-4! w-4! text-xs! text-(--rt-accent)!" svgIcon="retriever" />
          <span class="hidden lg:inline">retriever:</span>
          <span>1.1.2</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-2 items-center mt-4 lg:mt-0 justify-end">
    <button mat-flat-button (click)="openThemeDialog()" class="whitespace-nowrap">
      <mat-icon class="text-base" fontIcon="palette"></mat-icon>
      Theme config
    </button>

    <button mat-flat-button (click)="openSettingsDialog()" class="whitespace-nowrap">
      <mat-icon class="text-base" fontIcon="settings" />
      App settings
    </button>
  </div>
</div>
