@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::ng-deep .mat-pseudo-checkbox {
  order: 3;
  margin-left: auto !important;
}

::ng-deep .mdc-list-item__primary-text {
  margin-right: 0 !important;
}

::ng-deep .sub-flags .mat-mdc-select-panel {
  max-height: 305px;
}

@media screen and (max-width: 768px) {
  :host ::ng-deep mat-label {
    font-size: 14px;
  }
}

:host ::ng-deep .mdc-text-field--focused input::placeholder {
  opacity: 0.7;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.list-comma:not(:last-child)::after {
  content: ', ';
}
