@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::ng-deep .mat-pseudo-checkbox {
  order: 3;
  margin-left: auto !important;
}

::ng-deep .mdc-list-item__primary-text {
  margin-right: 0 !important;
}

::ng-deep .sub-flags .mat-mdc-select-panel {
  max-height: 305px;
}

.animate-spin {
  animation: spin 1s linear infinite;
}
