@if (!!channel()) {
  <div class="flex justify-cetner flex-col items-center bg-transparent w-full h-full">
    <div class="max-w-screen max-h-screen flex flex-col relative overflow-hidden">
      @let isVideoPlaying = download()?.type === 'video' && isPlaying();
      @if (!isVideoPlaying) {
        <ng-container *ngTemplateOutlet="watcherInfo"></ng-container>
      }

      <ng-container *ngTemplateOutlet="videoTitle"></ng-container>

      @if (canPlay()) {
        <ng-container *ngTemplateOutlet="playButton"></ng-container>
      }

      @if (!isVideoPlaying) {
        <img
          [src]="channel()?.lastVideoThumbnailPath"
          [alt]="channel()?.lastVideoTitle"
          class="aspect-video object-cover"
          [class.cursor-pointer]="canPlay()"
          (click)="togglePlay($event)"
        />
      }

      @if (isPlaying()) {
        @if (download()?.type === 'audio') {
          <ng-container *ngTemplateOutlet="audioPlayer"></ng-container>
        } @else {
          <video
            #previewVideo
            [src]="videoUrl()"
            (click)="togglePlay($event)"
            controls
            autoplay
            preload="metadata"
            type="video/mp4"
            class="aspect-video object-cover cursor-pointer relative z-4"
          ></video>
        }
      }
    </div>
  </div>
} @else {
  <div class="h-screen flex items-center justify-center text-center text-gray-400">No subscription found...</div>
}

<ng-template #watcherInfo>
  <div class="flex items-center gap-2 absolute top-4 left-4 bg-black/90 rounded-md px-2 py-1 z-12">
    <div
      class="rounded-full bg-green-500 w-4 h-4"
      [class.bg-red-500]="!channel()?.enabled"
      [matTooltip]="channel()?.enabled ? 'Enabled' : 'Disabled'"
    ></div>
    <span class="text-base font-semibold">{{ channel()?.name }}</span>
  </div>
</ng-template>

<ng-template #videoTitle>
  <div
    class="max-w-full px-4 bg-black/70 absolute bottom-0 left-0 right-0 py-2 z-3 transition-opacity duration-1000"
    [class.opacity-0]="isPlaying()"
  >
    <p class="text-lg truncate" [matTooltip]="channel()?.lastVideoTitle">
      {{ channel()?.lastVideoTitle }}
    </p>
  </div>
</ng-template>

<ng-template #playButton>
  <!-- Overlay -->
  <div
    class="absolute top-0 left-0 right-0 bottom-0 bg-black/50 flex items-center justify-center opacity-100 md:opacity-1 hover:opacity-100 transition-opacity duration-300 z-2"
    #playOverlay
  >
    <!-- Play button -->
    <div
      class="w-18 h-18 cursor-pointer leading-none! flex items-center justify-center rounded-full bg-red-500 hover:bg-red-600 transition-colors duration-300 active:*:scale-90"
      (click)="togglePlay($event)"
    >
      <mat-icon class="text-4xl! w-9! h-9! leading-none! transition-transform duration-300">play_arrow</mat-icon>
    </div>
  </div>
</ng-template>

<ng-template #audioPlayer>
  <div class="w-full h-full cursor-pointer absolute top-0 left-0 z-10" (click)="togglePlay($event)">
    <div #previewAudio class="absolute bottom-0 left-0 w-full rise z-11 cursor-auto">
      <rt-audio-player
        playerSize="lg"
        [audioUrl]="videoUrl()"
        [duration]="download().duration"
        (click)="$event.stopPropagation()"
      />
    </div>
  </div>
</ng-template>
