@let dataSource =
  [
    {
      size: (download().totalBytes | size),
      type: download().type,
      format: download().format,
      quality: download().quality,
      codec: download().codec,
      duration: download().duration,
      date: download().createdAt,
    },
  ];

@let displayedColumns = ['size', 'type', 'format', 'quality', 'codec', 'duration', 'date'];
@let isFailed = download().status === downloadStatus.FAILED;
@let hasError = isFailed && download().error;

<div class="relative table-container hidden lg:block overflow-x-auto" [class.show-error]="hasError">
  <table mat-table [dataSource]="dataSource" class="mt-3 bg-transparent! w-full font-calculator!`">
    @let isThumbnail = download().type === 'thumbnail';
    <!-- File Size Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Size</th>
      <td mat-cell *matCellDef="let element" class="text-center! whitespace-nowrap">{{ element.size || '—' }}</td>
    </ng-container>

    <!-- File Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Type</th>
      <td mat-cell *matCellDef="let element" class="text-center!">{{ element.type ?? '—' | titlecase }}</td>
    </ng-container>

    <!-- File Format Column -->
    <ng-container matColumnDef="format">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Format</th>
      <td mat-cell *matCellDef="let element" class="text-center!">
        {{ (isThumbnail ? '—' : (element.format ?? '—')) | titlecase }}
      </td>
    </ng-container>

    <!-- Requested Quality Column -->
    <ng-container matColumnDef="quality">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Quality</th>
      <td mat-cell *matCellDef="let element" class="text-center!">
        {{ (isThumbnail ? '—' : (element.quality ?? '—')) | titlecase }}
      </td>
    </ng-container>

    <!-- File Codec Column -->
    <ng-container matColumnDef="codec">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Codec</th>
      <td mat-cell *matCellDef="let element" class="text-center!">
        {{ (isThumbnail ? '—' : (element.codec ?? '—')) | titlecase }}
      </td>
    </ng-container>

    <!-- File Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Duration</th>
      <td mat-cell *matCellDef="let element" class="text-center!">
        {{ isThumbnail ? '—' : (element.duration | time: timeFormat.SHORT) }}
      </td>
    </ng-container>

    <!-- Date Added Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="text-center!">Date</th>
      <td mat-cell *matCellDef="let element" class="text-center! whitespace-nowrap">
        {{ element.date | date: 'dd MMM yyyy' }}
        <span class="ml-2">{{ element.date | date: 'HH:mm' }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  @if (hasError) {
    <div
      class="text-red-400 ml-3 w-2/3 border border-red-500 rounded-md px-3 py-2 absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 error-message"
    >
      {{ download().error }}
    </div>
  }
</div>
