.settings-card form {
  margin-top: 20px;
}

.settings-card .mat-stepper-vertical {
  --mat-sys-focus-state-layer-opacity: 0;
}

.settings-card .mat-step-icon {
  --mat-stepper-header-selected-state-icon-background-color: white;
  --mat-stepper-header-edit-state-icon-background-color: white;
}

.settings-card .mat-step-icon mat-icon,
.settings-card .mat-step-icon span {
  color: black !important;
}

.settings-card .description-select .mat-mdc-text-field-wrapper {
  background-color: transparent;
}

.settings-card .description-select .mdc-line-ripple::before {
  display: none !important;
}

.settings-card .description-select .mat-mdc-select-arrow {
  /* color: var(--rt-accent) !important; */
  color: white !important;
}

.settings-card .description-select .mat-mdc-form-field-focus-overlay {
  display: none !important;
}

.settings-card .description-select.mat-mdc-form-field.mat-form-field-animations-enabled .mdc-line-ripple::after {
  display: none !important;
}

.settings-card .notify-failed .mdc-form-field {
  display: flex;
  justify-content: space-between;
}

.settings-card .notify-failed .mdc-form-field--align-end > label {
  margin-left: 0;
}

.settings-card .mat-step-text-label {
  user-select: none;
}
