@let isFailed = download().status === downloadStatus.FAILED;
@let hasError = isFailed && download().error;
@let isPending = download().status === downloadStatus.QUEUED || download().status === downloadStatus.RUNNING;

@if (activeVideo() !== download().id) {
  @let isAbleToOpen = download().type !== 'thumbnail' && !!download().filePath;

  <rt-card
    [imageSourceUrl]="download().thumbnailPath"
    [retry]="!!download().thumbnailPath"
    [pending]="isPending"
    (cardClick)="openVideo(download(), isAbleToOpen)"
    imgSize="204x116"
    alt="Video poster"
    mockMessage="Poster%20not%20found"
    [imageClass]="isAbleToOpen ? 'cursor-pointer aspect-video' : 'aspect-video'"
    [customClass]="'w-full h-auto rounded-md overflow-hidden no-shadow ' + (hasError ? 'hidden lg:block' : '')"
  />
} @else {
  <div class="relative w-full h-auto rounded-md overflow-hidden no-shadow">
    <video
      #previewVideo
      [src]="videoUrl()"
      (click)="openVideo(download(), true, $event)"
      controls
      autoplay
      preload="metadata"
      type="video/mp4"
      class="w-full h-auto no-shadow"
    ></video>
  </div>
}
