@let isRunning = download().status === downloadStatus.RUNNING;
@let isQueued = download().status === downloadStatus.QUEUED;
@let isFailed = download().status === downloadStatus.FAILED;

@let isActive = isRunning || isQueued;
@let hasError = isFailed && download().error;

<div
  class="p-5 rounded-xl bg-white/3 overflow-hidden transition-height duration-500"
  [class.glass]="!isActive"
  [class.mb-5]="index() !== paginator().limit - 1"
  #record
>
  <div class="flex flex-col gap-5">
    @if (isActive) {
      <rt-progress-info [download]="download()" (cancel)="cancel.emit(download())" />
    }

    <div class="grid grid-cols-1 lg:grid-cols-[80%_20%] xl:grid-cols-[70%_20%] justify-between gap-2 w-full">
      <div class="flex gap-4 col-span-1">
        <rt-avatar
          [sourceImg]="download().avatarPath"
          [url]="download().authorUrl"
          [pending]="isActive"
          [imgSize]="'80x80'"
          [customClass]="'w-10 lg:w-20 h-auto'"
        />

        <div
          class="flex flex-col w-full relative md:overflow-x-hidden"
          rtAppear
          [animationName]="paginator().page === 0 ? 'rise' : 'none'"
          [animationDelay]="0.75"
        >
          <div
            class="grid grid-flow-col grid-rows-1 grid-cols-[70%_30%] sm:grid-cols-[80%_20%] justify-between items-center gap-2 pl-1 overflow-visible"
          >
            <div class="flex items-center col-span-1 gap-2">
              <rt-status-indicator [download]="download()" />
              <a class="text-lg truncate w-fit" [href]="download().url" target="_blank">
                {{ download().prefix }}{{ download().title || download().url }}
              </a>
            </div>

            <div class="col-span-1 pr-2 lg:hidden">
              <rt-download-controls
                [download]="download()"
                (retry)="retry.emit(download())"
                (remove)="remove.emit({ download: download(), elementRef: record })"
                (saveAs)="saveAs.emit(download())"
                (copyFilePath)="copyFilePath.emit(download())"
              />
            </div>
          </div>

          @if (download().channelName) {
            <div class="text-gray-500 truncate flex items-start gap-2">
              {{ download().channelName }}

              @if (download().source === downloadSource.WATCHER) {
                <mat-icon
                  class="text-sm! h-4! w-4! align-middle"
                  matTooltip="Downloaded by subscription"
                  fontIcon="subscriptions"
                />
              }
            </div>
          }

          @if (download().playlistTitle) {
            <div class="text-xs text-gray-600 truncate">
              <mat-icon class="text-sm! h-4! w-4! align-middle">playlist_play</mat-icon>
              {{ download().playlistTitle }}
              @if (download().playlistIndex) {
                <span class="ml-1">#{{ download().playlistIndex }}</span>
              }
            </div>
          }

          <rt-download-info [download]="download()" />
        </div>
      </div>

      <div
        class="flex flex-col items-end gap-2 col-span-1"
        [class.justify-center]="download().status === downloadStatus.RUNNING"
      >
        <div class="hidden lg:block">
          <rt-download-controls
            [download]="download()"
            (retry)="retry.emit(download())"
            (remove)="remove.emit({ download: download(), elementRef: record })"
            (saveAs)="saveAs.emit(download())"
            (copyFilePath)="copyFilePath.emit(download())"
          />
        </div>

        <rt-download-poster [download]="download()" />

        @if (hasError) {
          <div class="text-red-400 ml-3 border border-red-500 rounded-md px-3 py-2 lg:hidden">
            {{ download().error }}
          </div>
        }

        <div class="flex justify-center items-center gap-1 mt-2 lg:hidden font-calculator">
          @let isVideo = download().type === 'video';
          @let isAudio = download().type === 'audio';

          <rt-badge
            [badgeClass]="
              'flex! h-full items-center! gap-1 ' + (isVideo ? 'bg-white' : isAudio ? 'bg-black' : 'bg-purple-500')
            "
          >
            @if (isVideo) {
              <mat-icon fontIcon="play_circle" class="text-sm! w-fit! h-fit! p-0! text-black!" />
            } @else if (isAudio) {
              <mat-icon fontIcon="audiotrack" class="text-sm! w-fit! h-fit! p-0!" />
            } @else {
              <mat-icon fontIcon="image" class="text-sm! w-fit! h-fit! p-0!" />
            }
            <span [class.text-black]="isVideo">{{ download().type | titlecase }}</span>
          </rt-badge>

          <rt-badge badgeClass="bg-green-700 h-full leading-5">
            {{ download().createdAt | date: 'dd MMM yyyy' }} {{ download().createdAt | date: 'HH:mm' }}
          </rt-badge>

          @if (download().totalBytes) {
            <rt-badge badgeClass="bg-amber-700 h-full leading-5">{{ download().totalBytes | size }}</rt-badge>
          }
        </div>
      </div>
    </div>
  </div>
</div>
