:host ::ng-deep .mdc-slider__value-indicator-text {
  color: white !important;
  font-size: 9px !important;
}

:host ::ng-deep .mdc-slider__thumb--with-indicator .mdc-slider__value-indicator {
  transform: scale(1.2);
}
